</div>
	<div class="footer wh mt20">
		<div class="container tc">
			<a href="/map">
				<strong>网站地图</strong>
			</a>
			<a href="javascript:;">dapigou@163.com</a>
			<a href="javascript;">反馈 or bug</a>
			<a href="#">备案号</a>
		</div>
	</div>
	<script type="text/javascript" src="./js/main.js"></script>
	<script type="text/javascript">
		window.onload = function(){
			var body = document.getElementsByTagName('body')[0];
			if(body){
				body.style.minHeight =window.screen.availHeight+"px";
				// body.style.backgroundSize = "100% 100%";
			}
			// window.screen.availHeight+"px" = 
		}
	</script>
	</body>
</html>